{% extends "turnos/base.html" %}

{% block title %}
Turnos
{% endblock%}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="col-md-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://source.unsplash.com/umchkHwkdyM" style="height: 500px; width: 525px;"
                class="rounded  img-thumbnail" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://source.unsplash.com/random" style="height: 500px; width: 525px;"
                class="rounded img-thumbnail" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://source.unsplash.com/collection/881002" style="height: 500px; width: 525px;"
                class="rounded  img-thumbnail" alt="...">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm">
      {{ empresa.slug_identificador|json_script:"slug-identificador" }}

      <div id="turnos" class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
        <div id="spinner" style="display: block;" class="spinner-grow spinner-grow-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <ul id="lista" class="list-group">
        </ul>
      </div>
      <div id="no_turnos" style="display: none;" class="hidden col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
        <div class="media pt-3 pl-3 pb-1">
          <div class="media-body">
            <p style="margin-top: 5px;">No hay nadie, Pide tu Turno!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  const empresa = JSON.parse(document.getElementById('slug-identificador').textContent);
  console.log(empresa)
  const socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/turnos/'
    + empresa
    + '/'
  );

  socket.onopen = function open(event) {
    console.log('WebSockets connection created. ', event);
  };

  socket.onmessage = function message(event) {
    const data = JSON.parse(event.data);
    var lista = document.getElementById('lista');
    let items = '';
    let tieneTurnos = false;
    for (const turno of data.turnos_organizados) {
      items += '<li class="list-group-item d-flex justify-content-between align-items-center">' +
        turno.asesor_name +
        '<span class="badge badge-success badge-pill">' + turno.turno_en_progreso.secuencia + '</span>' +
        '<span class="badge badge-danger badge-pill">' + turno.turno_final.secuencia + '</span>' +
        '</li>'
      tieneTurnos = true;
    }
    if (tieneTurnos) {
      while (lista.firstChild) {
        lista.removeChild(lista.firstChild);
      }
      lista.insertAdjacentHTML('beforeend', items);
    } else {
      document.getElementById('no_turnos').style.display = 'block'
      document.getElementById('turnos').style.display = 'none'
    }
    document.getElementById('spinner').style.display = 'none'
  };

  if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
  }
</script>
{% endblock script %}